
@import url('https://fonts.cdnfonts.com/css/gotham');               
*
{
    --link-color: rgb(190, 204, 0);
    --bg-color-blue: rgb(0, 1, 22);

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body
{ 
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)) ,url(startup-ga79c075e5_1920.png);
    color: white;
    background-size: cover;
    background-attachment: fixed;
    background-position: start;
}

/*Navbar*/

nav
{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    padding: 15px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: baseline;
}

nav div.logo-name
{
    font-size: 25px;
    font-family: 'Gotham';
    font-weight: 500;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 150px;
    list-style: none;
    font-size: 18px;
}
nav ul li a{
    transition: 0.4s;
    color: white;
    text-decoration: none;
    font-family: 'Gotham thin';
}
nav ul li a:hover{
    transition: 0.4s;
    color: var(--link-color);
}

/*Content*/

main
{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    min-height: 65vh;
    margin: 30px;
}

.social-media a
{
    transition: 0.2s;
    color: var(--link-color);
    font-size: 15px;
    text-decoration: none;
    font-family: 'Gotham Thin';
    margin-right: 20px;
}
.social-media a:hover{
    color: white;
    transition: 0.2s;
}
div.description
{
    font-family: 'Gotham Thin';
    font-size: 35px;
}

.description em
{
    font-style: normal;
    font-weight: 700;
}

button
{
    border: 1px solid white;
    background: transparent;
    padding: 20px;
    font-size: 20px;
    color: white;
    cursor: pointer;
    transition: 0.4s;
    width: 270px;
    align-self: center;
}
button:hover
{
    box-shadow: 0px 0px 2px var(--link-color);
    color: var(--link-color);
    border-color: var(--link-color);
    transition: 0.4s;
}



section
{
    background-color: var(--bg-color-blue);
    font-size: 20px;
    padding: 50px;
    text-align: start;
}
section h1, section p
{
    margin-bottom: 50px;
}
section p a{
    color: var(--link-color);
}

section h1
{
    color: var(--link-color);
    font-family: 'Gotham';
    text-align: center;
}

/*footer*/

footer#credits
{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)) ,url(startup-ga79c075e5_1920.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: start;

    padding: 30px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
p#cta{
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
}
footer button
{
    margin-bottom: 50px;
}
footer p#info{
    align-self: end;
}

/*Breakpoints*/

@media(min-width:700px)
{
    nav ul{
        width: 200px;
    }
    main button{
        align-self: flex-start;
    }
}

@media(min-width:1020px)
{
    nav div.logo-name{
        font-size: 28px;
    }
    nav ul{
        width: 250px;
        font-size: 20px;
    }
    main{
        margin: 60px;
    }
    div.description{
        font-size: 40px;
    }

}